extend layout

block content

	// breadcrumb
	div
		ul.breadcrumb
			li 
				a(href='/collections') Collections
				span.divider &rsaquo;
			li.active #{collection.title}
	// / breadcrumb
	each product in products
		div.item
			a(href='/products/#{product.id}')
				div.image
					if (typeof product.featured_image === 'undefined' || product.featured_image == null)
						img(src='http://placehold.it/150x150')
					else
						img(src='#{product.featured_image.url}=s150')
				div.info
					p #{product.title}
					p #{product.vendor}
					- var price_min = 0
					each v in product.variants
						if (v.price > price_min)
							- price_min = v.price
					p.right starts at € 
						b #{price_min}
				div.clear